/* ==========================================
   APP LAYOUT
========================================== */

.app-layout {
    display: flex;
    min-height: 100vh;
}

/* ==========================================
   SIDEBAR
========================================== */

.sidebar {
    width: 260px;
    flex-shrink: 0;
}

/* ==========================================
   APP CONTENT
========================================== */

.app-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ==========================================
   TOPBAR
========================================== */

.topbar {
    height: 70px;
}

/* ==========================================
   MAIN CONTENT
========================================== */

.main-content {
    flex: 1;
}